*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 70vh;
    width: 70vw;

    background-color: aquamarine;
    position: relative;
}

.ball{
    position: absolute;
    bottom: 0;
    left: 0;

    background-color: red;
    height: 100px;
    width: 100px;
    border-radius: 50%;

    animation: animateX 3s linear infinite, animateY 1s ease-out infinite alternate;
}

@keyframes animateX {
    from{
        left: 0;
    }
    to{
        left: 100%;
    }
}

@keyframes animateY{
    from{
        bottom: 0;
    }
    to{
        bottom: 100%;
    }
}