body, html{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100%;
}

.container{
    background: linear-gradient(135deg, #8a2be2, #4169e1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.content{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    max-width: 400px;
    padding: 10px;
}

.image{
    width: 200px;
    border-radius: 20px;
    object-fit: contain;
    padding: 10px;
}

h1{
    color: #333;
    margin-bottom: 0.5rem;
}

p{
    color: #666;
    margin-bottom: 0.5rem;
}

form{
    display: flex;
    flex-direction: column;
}

input[type="email"], button{
    padding: 0.5rem;
    border-radius: 5px;
    border: 2px solid #ccc;
    margin: 0.1rem;
}

button{
    background-color: #8a2be2;
    color: aliceblue;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover{
    background-color: #020005;
}